.gameTimerContainer {
  margin: auto;
}

.path--background {
  fill: var(--color_bg);
}

.path--foreground {
  fill: var(--light_Or);
}

.label {
  font-weight: 900;
  text-anchor: middle;
  fill: var(--light_Or);

  &.pulse {
    fill: rgb(255, 74, 74) !important;
    animation: pulseLabel 1s ease-in-out 0s infinite;
  }

  &.timesUp {
    fill: rgb(255, 74, 74) !important;
    animation: timesUpLabel .3s ease-in-out 0s 5;

  }
}


@keyframes pulseLabel {
  0% {
    scale: 1;

  }

  20% {
    scale: 1.4;

  }

  100% {
    scale: 1;
  }
}

@keyframes timesUpLabel {
  0% {
    scale: 1;
    rotate: 0deg;

  }

  20% {
    scale: 1.2;
    rotate: 15deg;
  }

  60% {
    scale: 1.2;
    rotate: -15deg;
  }

  100% {
    scale: 1;
    rotate: 0deg;
  }
}