.check_circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 6s ease-in-out forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
.check {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: strokeShort 3s ease-in-out 0.5s infinite;
}

@keyframes strokeShort {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
.star {
  animation-name: starRoutate;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.star1 {
  animation-duration: 6s;
  animation-delay: 0.3;
}

.star2 {
  animation-duration: 8s;
  animation-delay: 0.6;
}

.star3 {
  animation-duration: 12s;
  animation-delay: 0.9;
}

.star4 {
  animation-duration: 10s;
  animation-delay: 0.2;
}

.star5 {
  animation-duration: 8s;
  animation-delay: 0.5;
}

.star6 {
  animation-duration: 6s;
  animation-delay: 0.8;
}

@keyframes starRoutate {
  0% {
    rotate: 0;
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    rotate: -90deg;
    opacity: 0.9;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  100% {
    rotate: 0;
    opacity: 0.8;
  }
}
.starFalls0 {
  position: absolute;
  top: -5%;
  left: -2%;
  animation: FallsDown 0s ease-in-out 0s 5;
}
.starFalls0 path {
  fill: rgb(236, 207, 151);
}

.starFalls1 {
  position: absolute;
  top: -5%;
  left: 35%;
  animation: FallsDown 0.07s ease-in-out 0.3s 5;
}
.starFalls1 path {
  fill: rgb(213, 215, 193);
}

.starFalls2 {
  position: absolute;
  top: -5%;
  left: 72%;
  animation: FallsDown 0.14s ease-in-out 0.6s 5;
}
.starFalls2 path {
  fill: rgb(177, 155, 230);
}

.starFalls3 {
  position: absolute;
  top: -5%;
  left: 9%;
  animation: FallsDown 0.21s ease-in-out 0.9s 5;
}
.starFalls3 path {
  fill: rgb(173, 219, 243);
}

.starFalls4 {
  position: absolute;
  top: -5%;
  left: 46%;
  animation: FallsDown 0.28s ease-in-out 0.2s 5;
}
.starFalls4 path {
  fill: rgb(222, 235, 138);
}

.starFalls5 {
  position: absolute;
  top: -5%;
  left: 83%;
  animation: FallsDown 0.35s ease-in-out 0.5s 5;
}
.starFalls5 path {
  fill: rgb(226, 131, 199);
}

.starFalls6 {
  position: absolute;
  top: -5%;
  left: 20%;
  animation: FallsDown 0.42s ease-in-out 0.8s 5;
}
.starFalls6 path {
  fill: rgb(166, 214, 174);
}

.starFalls7 {
  position: absolute;
  top: -5%;
  left: 57%;
  animation: FallsDown 0.49s ease-in-out 0.1s 5;
}
.starFalls7 path {
  fill: rgb(204, 204, 225);
}

.starFalls8 {
  position: absolute;
  top: -5%;
  left: 94%;
  animation: FallsDown 0.56s ease-in-out 0.4s 5;
}
.starFalls8 path {
  fill: rgb(161, 132, 159);
}

.starFalls9 {
  position: absolute;
  top: -5%;
  left: 31%;
  animation: FallsDown 0.63s ease-in-out 0.7s 5;
}
.starFalls9 path {
  fill: rgb(225, 148, 237);
}

.starFalls10 {
  position: absolute;
  top: -5%;
  left: 68%;
  animation: FallsDown 0.7s ease-in-out 0s 5;
}
.starFalls10 path {
  fill: rgb(218, 126, 135);
}

.starFalls11 {
  position: absolute;
  top: -5%;
  left: 5%;
  animation: FallsDown 0.77s ease-in-out 0.3s 5;
}
.starFalls11 path {
  fill: rgb(154, 213, 179);
}

.starFalls12 {
  position: absolute;
  top: -5%;
  left: 42%;
  animation: FallsDown 0.84s ease-in-out 0.6s 5;
}
.starFalls12 path {
  fill: rgb(219, 231, 239);
}

.starFalls13 {
  position: absolute;
  top: -5%;
  left: 79%;
  animation: FallsDown 0.91s ease-in-out 0.9s 5;
}
.starFalls13 path {
  fill: rgb(222, 129, 179);
}

.starFalls14 {
  position: absolute;
  top: -5%;
  left: 16%;
  animation: FallsDown 0.98s ease-in-out 0.2s 5;
}
.starFalls14 path {
  fill: rgb(156, 221, 245);
}

.starFalls15 {
  position: absolute;
  top: -5%;
  left: 53%;
  animation: FallsDown 1.05s ease-in-out 0.5s 5;
}
.starFalls15 path {
  fill: rgb(232, 158, 227);
}

.starFalls16 {
  position: absolute;
  top: -5%;
  left: 90%;
  animation: FallsDown 1.12s ease-in-out 0.8s 5;
}
.starFalls16 path {
  fill: rgb(167, 144, 166);
}

.starFalls17 {
  position: absolute;
  top: -5%;
  left: 27%;
  animation: FallsDown 1.19s ease-in-out 0.1s 5;
}
.starFalls17 path {
  fill: rgb(219, 167, 235);
}

.starFalls18 {
  position: absolute;
  top: -5%;
  left: 64%;
  animation: FallsDown 1.26s ease-in-out 0.4s 5;
}
.starFalls18 path {
  fill: rgb(169, 164, 195);
}

.starFalls19 {
  position: absolute;
  top: -5%;
  left: 1%;
  animation: FallsDown 1.33s ease-in-out 0.7s 5;
}
.starFalls19 path {
  fill: rgb(158, 216, 229);
}

.starFalls20 {
  position: absolute;
  top: -5%;
  left: 38%;
  animation: FallsDown 1.4s ease-in-out 0s 5;
}
.starFalls20 path {
  fill: rgb(149, 131, 168);
}

.starFalls21 {
  position: absolute;
  top: -5%;
  left: 75%;
  animation: FallsDown 1.47s ease-in-out 0.3s 5;
}
.starFalls21 path {
  fill: rgb(169, 172, 191);
}

.starFalls22 {
  position: absolute;
  top: -5%;
  left: 12%;
  animation: FallsDown 1.54s ease-in-out 0.6s 5;
}
.starFalls22 path {
  fill: rgb(174, 192, 207);
}

.starFalls23 {
  position: absolute;
  top: -5%;
  left: 49%;
  animation: FallsDown 1.61s ease-in-out 0.9s 5;
}
.starFalls23 path {
  fill: rgb(195, 225, 199);
}

.starFalls24 {
  position: absolute;
  top: -5%;
  left: 86%;
  animation: FallsDown 1.68s ease-in-out 0.2s 5;
}
.starFalls24 path {
  fill: rgb(171, 160, 224);
}

.starFalls25 {
  position: absolute;
  top: -5%;
  left: 23%;
  animation: FallsDown 1.75s ease-in-out 0.5s 5;
}
.starFalls25 path {
  fill: rgb(241, 207, 165);
}

.starFalls26 {
  position: absolute;
  top: -5%;
  left: 60%;
  animation: FallsDown 1.82s ease-in-out 0.8s 5;
}
.starFalls26 path {
  fill: rgb(171, 228, 176);
}

.starFalls27 {
  position: absolute;
  top: -5%;
  left: 97%;
  animation: FallsDown 1.89s ease-in-out 0.1s 5;
}
.starFalls27 path {
  fill: rgb(234, 235, 205);
}

.starFalls28 {
  position: absolute;
  top: -5%;
  left: 34%;
  animation: FallsDown 1.96s ease-in-out 0.4s 5;
}
.starFalls28 path {
  fill: rgb(173, 198, 225);
}

.starFalls29 {
  position: absolute;
  top: -5%;
  left: 71%;
  animation: FallsDown 2.03s ease-in-out 0.7s 5;
}
.starFalls29 path {
  fill: rgb(221, 189, 132);
}

.starFalls30 {
  position: absolute;
  top: -5%;
  left: 8%;
  animation: FallsDown 2.1s ease-in-out 0s 5;
}
.starFalls30 path {
  fill: rgb(229, 177, 189);
}

.starFalls31 {
  position: absolute;
  top: -5%;
  left: 45%;
  animation: FallsDown 2.17s ease-in-out 0.3s 5;
}
.starFalls31 path {
  fill: rgb(234, 154, 203);
}

.starFalls32 {
  position: absolute;
  top: -5%;
  left: 82%;
  animation: FallsDown 2.24s ease-in-out 0.6s 5;
}
.starFalls32 path {
  fill: rgb(165, 200, 137);
}

.starFalls33 {
  position: absolute;
  top: -5%;
  left: 19%;
  animation: FallsDown 2.31s ease-in-out 0.9s 5;
}
.starFalls33 path {
  fill: rgb(171, 168, 228);
}

.starFalls34 {
  position: absolute;
  top: -5%;
  left: 56%;
  animation: FallsDown 2.38s ease-in-out 0.2s 5;
}
.starFalls34 path {
  fill: rgb(235, 152, 185);
}

.starFalls35 {
  position: absolute;
  top: -5%;
  left: 93%;
  animation: FallsDown 2.45s ease-in-out 0.5s 5;
}
.starFalls35 path {
  fill: rgb(235, 139, 152);
}

.starFalls36 {
  position: absolute;
  top: -5%;
  left: 30%;
  animation: FallsDown 2.52s ease-in-out 0.8s 5;
}
.starFalls36 path {
  fill: rgb(231, 168, 218);
}

.starFalls37 {
  position: absolute;
  top: -5%;
  left: 67%;
  animation: FallsDown 2.59s ease-in-out 0.1s 5;
}
.starFalls37 path {
  fill: rgb(186, 154, 199);
}

.starFalls38 {
  position: absolute;
  top: -5%;
  left: 4%;
  animation: FallsDown 2.66s ease-in-out 0.4s 5;
}
.starFalls38 path {
  fill: rgb(195, 185, 207);
}

.starFalls39 {
  position: absolute;
  top: -5%;
  left: 41%;
  animation: FallsDown 2.73s ease-in-out 0.7s 5;
}
.starFalls39 path {
  fill: rgb(238, 151, 190);
}

.starFalls40 {
  position: absolute;
  top: -5%;
  left: 78%;
  animation: FallsDown 2.8s ease-in-out 0s 5;
}
.starFalls40 path {
  fill: rgb(213, 227, 235);
}

.starFalls41 {
  position: absolute;
  top: -5%;
  left: 15%;
  animation: FallsDown 2.87s ease-in-out 0.3s 5;
}
.starFalls41 path {
  fill: rgb(147, 135, 169);
}

.starFalls42 {
  position: absolute;
  top: -5%;
  left: 52%;
  animation: FallsDown 2.94s ease-in-out 0.6s 5;
}
.starFalls42 path {
  fill: rgb(188, 191, 239);
}

.starFalls43 {
  position: absolute;
  top: -5%;
  left: 89%;
  animation: FallsDown 3.01s ease-in-out 0.9s 5;
}
.starFalls43 path {
  fill: rgb(172, 222, 186);
}

.starFalls44 {
  position: absolute;
  top: -5%;
  left: 26%;
  animation: FallsDown 3.08s ease-in-out 0.2s 5;
}
.starFalls44 path {
  fill: rgb(161, 190, 161);
}

.starFalls45 {
  position: absolute;
  top: -5%;
  left: 63%;
  animation: FallsDown 3.15s ease-in-out 0.5s 5;
}
.starFalls45 path {
  fill: rgb(203, 223, 204);
}

.starFalls46 {
  position: absolute;
  top: -5%;
  left: 0%;
  animation: FallsDown 3.22s ease-in-out 0.8s 5;
}
.starFalls46 path {
  fill: rgb(159, 220, 131);
}

.starFalls47 {
  position: absolute;
  top: -5%;
  left: 37%;
  animation: FallsDown 3.29s ease-in-out 0.1s 5;
}
.starFalls47 path {
  fill: rgb(165, 187, 199);
}

.starFalls48 {
  position: absolute;
  top: -5%;
  left: 74%;
  animation: FallsDown 3.36s ease-in-out 0.4s 5;
}
.starFalls48 path {
  fill: rgb(234, 199, 135);
}

.starFalls49 {
  position: absolute;
  top: -5%;
  left: 11%;
  animation: FallsDown 3.43s ease-in-out 0.7s 5;
}
.starFalls49 path {
  fill: rgb(158, 207, 244);
}

.starFalls50 {
  position: absolute;
  top: -5%;
  left: 48%;
  animation: FallsDown 3.5s ease-in-out 0s 5;
}
.starFalls50 path {
  fill: rgb(221, 194, 236);
}

.starFalls51 {
  position: absolute;
  top: -5%;
  left: 85%;
  animation: FallsDown 3.57s ease-in-out 0.3s 5;
}
.starFalls51 path {
  fill: rgb(214, 169, 170);
}

.starFalls52 {
  position: absolute;
  top: -5%;
  left: 22%;
  animation: FallsDown 3.64s ease-in-out 0.6s 5;
}
.starFalls52 path {
  fill: rgb(241, 219, 143);
}

.starFalls53 {
  position: absolute;
  top: -5%;
  left: 59%;
  animation: FallsDown 3.71s ease-in-out 0.9s 5;
}
.starFalls53 path {
  fill: rgb(218, 185, 156);
}

.starFalls54 {
  position: absolute;
  top: -5%;
  left: 96%;
  animation: FallsDown 3.78s ease-in-out 0.2s 5;
}
.starFalls54 path {
  fill: rgb(186, 222, 178);
}

.starFalls55 {
  position: absolute;
  top: -5%;
  left: 33%;
  animation: FallsDown 3.85s ease-in-out 0.5s 5;
}
.starFalls55 path {
  fill: rgb(177, 217, 214);
}

.starFalls56 {
  position: absolute;
  top: -5%;
  left: 70%;
  animation: FallsDown 3.92s ease-in-out 0.8s 5;
}
.starFalls56 path {
  fill: rgb(242, 221, 234);
}

.starFalls57 {
  position: absolute;
  top: -5%;
  left: 7%;
  animation: FallsDown 3.99s ease-in-out 0.1s 5;
}
.starFalls57 path {
  fill: rgb(221, 191, 133);
}

.starFalls58 {
  position: absolute;
  top: -5%;
  left: 44%;
  animation: FallsDown 4.06s ease-in-out 0.4s 5;
}
.starFalls58 path {
  fill: rgb(204, 155, 152);
}

.starFalls59 {
  position: absolute;
  top: -5%;
  left: 81%;
  animation: FallsDown 4.13s ease-in-out 0.7s 5;
}
.starFalls59 path {
  fill: rgb(160, 215, 198);
}

.starFalls60 {
  position: absolute;
  top: -5%;
  left: 18%;
  animation: FallsDown 4.2s ease-in-out 0s 5;
}
.starFalls60 path {
  fill: rgb(215, 220, 169);
}

.starFalls61 {
  position: absolute;
  top: -5%;
  left: 55%;
  animation: FallsDown 4.27s ease-in-out 0.3s 5;
}
.starFalls61 path {
  fill: rgb(240, 151, 234);
}

.starFalls62 {
  position: absolute;
  top: -5%;
  left: 92%;
  animation: FallsDown 4.34s ease-in-out 0.6s 5;
}
.starFalls62 path {
  fill: rgb(169, 153, 217);
}

.starFalls63 {
  position: absolute;
  top: -5%;
  left: 29%;
  animation: FallsDown 4.41s ease-in-out 0.9s 5;
}
.starFalls63 path {
  fill: rgb(242, 193, 241);
}

.starFalls64 {
  position: absolute;
  top: -5%;
  left: 66%;
  animation: FallsDown 4.48s ease-in-out 0.2s 5;
}
.starFalls64 path {
  fill: rgb(152, 174, 144);
}

.starFalls65 {
  position: absolute;
  top: -5%;
  left: 3%;
  animation: FallsDown 4.55s ease-in-out 0.5s 5;
}
.starFalls65 path {
  fill: rgb(221, 176, 242);
}

.starFalls66 {
  position: absolute;
  top: -5%;
  left: 40%;
  animation: FallsDown 4.62s ease-in-out 0.8s 5;
}
.starFalls66 path {
  fill: rgb(240, 131, 235);
}

.starFalls67 {
  position: absolute;
  top: -5%;
  left: 77%;
  animation: FallsDown 4.69s ease-in-out 0.1s 5;
}
.starFalls67 path {
  fill: rgb(201, 207, 183);
}

.starFalls68 {
  position: absolute;
  top: -5%;
  left: 14%;
  animation: FallsDown 4.76s ease-in-out 0.4s 5;
}
.starFalls68 path {
  fill: rgb(156, 222, 212);
}

.starFalls69 {
  position: absolute;
  top: -5%;
  left: 51%;
  animation: FallsDown 4.83s ease-in-out 0.7s 5;
}
.starFalls69 path {
  fill: rgb(210, 222, 226);
}

.starFalls70 {
  position: absolute;
  top: -5%;
  left: 88%;
  animation: FallsDown 4.9s ease-in-out 0s 5;
}
.starFalls70 path {
  fill: rgb(169, 188, 236);
}

.starFalls71 {
  position: absolute;
  top: -5%;
  left: 25%;
  animation: FallsDown 4.97s ease-in-out 0.3s 5;
}
.starFalls71 path {
  fill: rgb(173, 172, 169);
}

.starFalls72 {
  position: absolute;
  top: -5%;
  left: 62%;
  animation: FallsDown 5.04s ease-in-out 0.6s 5;
}
.starFalls72 path {
  fill: rgb(166, 174, 209);
}

.starFalls73 {
  position: absolute;
  top: -5%;
  left: -1%;
  animation: FallsDown 5.11s ease-in-out 0.9s 5;
}
.starFalls73 path {
  fill: rgb(169, 170, 212);
}

.starFalls74 {
  position: absolute;
  top: -5%;
  left: 36%;
  animation: FallsDown 5.18s ease-in-out 0.2s 5;
}
.starFalls74 path {
  fill: rgb(193, 165, 223);
}

.starFalls75 {
  position: absolute;
  top: -5%;
  left: 73%;
  animation: FallsDown 5.25s ease-in-out 0.5s 5;
}
.starFalls75 path {
  fill: rgb(156, 167, 153);
}

.starFalls76 {
  position: absolute;
  top: -5%;
  left: 10%;
  animation: FallsDown 5.32s ease-in-out 0.8s 5;
}
.starFalls76 path {
  fill: rgb(202, 200, 236);
}

.starFalls77 {
  position: absolute;
  top: -5%;
  left: 47%;
  animation: FallsDown 5.39s ease-in-out 0.1s 5;
}
.starFalls77 path {
  fill: rgb(165, 187, 198);
}

.starFalls78 {
  position: absolute;
  top: -5%;
  left: 84%;
  animation: FallsDown 5.46s ease-in-out 0.4s 5;
}
.starFalls78 path {
  fill: rgb(243, 176, 165);
}

.starFalls79 {
  position: absolute;
  top: -5%;
  left: 21%;
  animation: FallsDown 5.53s ease-in-out 0.7s 5;
}
.starFalls79 path {
  fill: rgb(173, 203, 139);
}

.starFalls80 {
  position: absolute;
  top: -5%;
  left: 58%;
  animation: FallsDown 5.6s ease-in-out 0s 5;
}
.starFalls80 path {
  fill: rgb(194, 130, 221);
}

.starFalls81 {
  position: absolute;
  top: -5%;
  left: 95%;
  animation: FallsDown 5.67s ease-in-out 0.3s 5;
}
.starFalls81 path {
  fill: rgb(172, 166, 188);
}

.starFalls82 {
  position: absolute;
  top: -5%;
  left: 32%;
  animation: FallsDown 5.74s ease-in-out 0.6s 5;
}
.starFalls82 path {
  fill: rgb(234, 215, 166);
}

.starFalls83 {
  position: absolute;
  top: -5%;
  left: 69%;
  animation: FallsDown 5.81s ease-in-out 0.9s 5;
}
.starFalls83 path {
  fill: rgb(153, 157, 217);
}

.starFalls84 {
  position: absolute;
  top: -5%;
  left: 6%;
  animation: FallsDown 5.88s ease-in-out 0.2s 5;
}
.starFalls84 path {
  fill: rgb(179, 216, 160);
}

.starFalls85 {
  position: absolute;
  top: -5%;
  left: 43%;
  animation: FallsDown 5.95s ease-in-out 0.5s 5;
}
.starFalls85 path {
  fill: rgb(153, 224, 207);
}

.starFalls86 {
  position: absolute;
  top: -5%;
  left: 80%;
  animation: FallsDown 6.02s ease-in-out 0.8s 5;
}
.starFalls86 path {
  fill: rgb(173, 163, 243);
}

.starFalls87 {
  position: absolute;
  top: -5%;
  left: 17%;
  animation: FallsDown 6.09s ease-in-out 0.1s 5;
}
.starFalls87 path {
  fill: rgb(232, 224, 243);
}

.starFalls88 {
  position: absolute;
  top: -5%;
  left: 54%;
  animation: FallsDown 6.16s ease-in-out 0.4s 5;
}
.starFalls88 path {
  fill: rgb(188, 152, 155);
}

.starFalls89 {
  position: absolute;
  top: -5%;
  left: 91%;
  animation: FallsDown 6.23s ease-in-out 0.7s 5;
}
.starFalls89 path {
  fill: rgb(161, 229, 145);
}

.starFalls90 {
  position: absolute;
  top: -5%;
  left: 28%;
  animation: FallsDown 6.3s ease-in-out 0s 5;
}
.starFalls90 path {
  fill: rgb(204, 148, 137);
}

.starFalls91 {
  position: absolute;
  top: -5%;
  left: 65%;
  animation: FallsDown 6.37s ease-in-out 0.3s 5;
}
.starFalls91 path {
  fill: rgb(153, 176, 158);
}

.starFalls92 {
  position: absolute;
  top: -5%;
  left: 2%;
  animation: FallsDown 6.44s ease-in-out 0.6s 5;
}
.starFalls92 path {
  fill: rgb(201, 168, 184);
}

.starFalls93 {
  position: absolute;
  top: -5%;
  left: 39%;
  animation: FallsDown 6.51s ease-in-out 0.9s 5;
}
.starFalls93 path {
  fill: rgb(151, 153, 147);
}

.starFalls94 {
  position: absolute;
  top: -5%;
  left: 76%;
  animation: FallsDown 6.58s ease-in-out 0.2s 5;
}
.starFalls94 path {
  fill: rgb(158, 200, 193);
}

.starFalls95 {
  position: absolute;
  top: -5%;
  left: 13%;
  animation: FallsDown 6.65s ease-in-out 0.5s 5;
}
.starFalls95 path {
  fill: rgb(154, 149, 136);
}

.starFalls96 {
  position: absolute;
  top: -5%;
  left: 50%;
  animation: FallsDown 6.72s ease-in-out 0.8s 5;
}
.starFalls96 path {
  fill: rgb(163, 223, 159);
}

.starFalls97 {
  position: absolute;
  top: -5%;
  left: 87%;
  animation: FallsDown 6.79s ease-in-out 0.1s 5;
}
.starFalls97 path {
  fill: rgb(232, 228, 172);
}

.starFalls98 {
  position: absolute;
  top: -5%;
  left: 24%;
  animation: FallsDown 6.86s ease-in-out 0.4s 5;
}
.starFalls98 path {
  fill: rgb(172, 201, 225);
}

.starFalls99 {
  position: absolute;
  top: -5%;
  left: 61%;
  animation: FallsDown 6.93s ease-in-out 0.7s 5;
}
.starFalls99 path {
  fill: rgb(194, 163, 142);
}

@keyframes FallsDown {
  0% {
    top: -5%;
  }
  85% {
    opacity: 1;
  }
  100% {
    top: 95%;
    opacity: 0;
  }
}
.birdORG .wing {
  animation: wingsMove 3s ease-in-out 0s infinite;
}
.birdORG .mouth {
  animation: mouthMove 2s ease-in-out 0s infinite;
}

.birdGR .wing {
  animation: wingsMove2 2s ease-in-out 0s infinite;
}
.birdGR .eyes {
  animation: eyesMove 4s ease-in-out 0s infinite;
}

@keyframes wingsMove {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(5deg) translate(3px);
  }
  80% {
    transform: rotate(-5deg) translate(1px);
  }
  100% {
    transform: rotate(0deg) translate(0px);
  }
}
@keyframes wingsMove2 {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-2deg) translate(-1.5px);
  }
  65% {
    transform: rotate(-5deg) translate(-3px);
  }
  80% {
    transform: rotate(-1deg) translate(-2px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes mouthMove {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(2deg) translateX(-0.5px);
  }
  80% {
    transform: rotate(-3deg) translateX(1px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes eyesMove {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=animationCSS.css.map */