.check_circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 6s ease-in-out forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
.check {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: strokeShort 3s ease-in-out 0.5s infinite;
}

@keyframes strokeShort {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
.star {
  animation-name: starRoutate;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.star1 {
  animation-duration: 6s;
  animation-delay: 0.3;
}

.star2 {
  animation-duration: 8s;
  animation-delay: 0.6;
}

.star3 {
  animation-duration: 12s;
  animation-delay: 0.9;
}

.star4 {
  animation-duration: 10s;
  animation-delay: 0.2;
}

.star5 {
  animation-duration: 8s;
  animation-delay: 0.5;
}

.star6 {
  animation-duration: 6s;
  animation-delay: 0.8;
}

@keyframes starRoutate {
  0% {
    rotate: 0;
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    rotate: -90deg;
    opacity: 0.9;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  100% {
    rotate: 0;
    opacity: 0.8;
  }
}
.starFalls0 {
  position: absolute;
  top: -5%;
  left: -2%;
  animation: FallsDown 0s ease-in-out 0s 5;
}
.starFalls0 path {
  fill: rgb(206, 140, 161);
}

.starFalls1 {
  position: absolute;
  top: -5%;
  left: 35%;
  animation: FallsDown 0.07s ease-in-out 0.3s 5;
}
.starFalls1 path {
  fill: rgb(237, 203, 163);
}

.starFalls2 {
  position: absolute;
  top: -5%;
  left: 72%;
  animation: FallsDown 0.14s ease-in-out 0.6s 5;
}
.starFalls2 path {
  fill: rgb(152, 128, 200);
}

.starFalls3 {
  position: absolute;
  top: -5%;
  left: 9%;
  animation: FallsDown 0.21s ease-in-out 0.9s 5;
}
.starFalls3 path {
  fill: rgb(237, 135, 189);
}

.starFalls4 {
  position: absolute;
  top: -5%;
  left: 46%;
  animation: FallsDown 0.28s ease-in-out 0.2s 5;
}
.starFalls4 path {
  fill: rgb(230, 220, 227);
}

.starFalls5 {
  position: absolute;
  top: -5%;
  left: 83%;
  animation: FallsDown 0.35s ease-in-out 0.5s 5;
}
.starFalls5 path {
  fill: rgb(211, 136, 165);
}

.starFalls6 {
  position: absolute;
  top: -5%;
  left: 20%;
  animation: FallsDown 0.42s ease-in-out 0.8s 5;
}
.starFalls6 path {
  fill: rgb(155, 128, 150);
}

.starFalls7 {
  position: absolute;
  top: -5%;
  left: 57%;
  animation: FallsDown 0.49s ease-in-out 0.1s 5;
}
.starFalls7 path {
  fill: rgb(203, 231, 245);
}

.starFalls8 {
  position: absolute;
  top: -5%;
  left: 94%;
  animation: FallsDown 0.56s ease-in-out 0.4s 5;
}
.starFalls8 path {
  fill: rgb(245, 123, 166);
}

.starFalls9 {
  position: absolute;
  top: -5%;
  left: 31%;
  animation: FallsDown 0.63s ease-in-out 0.7s 5;
}
.starFalls9 path {
  fill: rgb(229, 185, 141);
}

.starFalls10 {
  position: absolute;
  top: -5%;
  left: 68%;
  animation: FallsDown 0.7s ease-in-out 0s 5;
}
.starFalls10 path {
  fill: rgb(207, 176, 155);
}

.starFalls11 {
  position: absolute;
  top: -5%;
  left: 5%;
  animation: FallsDown 0.77s ease-in-out 0.3s 5;
}
.starFalls11 path {
  fill: rgb(206, 191, 189);
}

.starFalls12 {
  position: absolute;
  top: -5%;
  left: 42%;
  animation: FallsDown 0.84s ease-in-out 0.6s 5;
}
.starFalls12 path {
  fill: rgb(231, 211, 237);
}

.starFalls13 {
  position: absolute;
  top: -5%;
  left: 79%;
  animation: FallsDown 0.91s ease-in-out 0.9s 5;
}
.starFalls13 path {
  fill: rgb(192, 225, 153);
}

.starFalls14 {
  position: absolute;
  top: -5%;
  left: 16%;
  animation: FallsDown 0.98s ease-in-out 0.2s 5;
}
.starFalls14 path {
  fill: rgb(230, 123, 137);
}

.starFalls15 {
  position: absolute;
  top: -5%;
  left: 53%;
  animation: FallsDown 1.05s ease-in-out 0.5s 5;
}
.starFalls15 path {
  fill: rgb(219, 235, 202);
}

.starFalls16 {
  position: absolute;
  top: -5%;
  left: 90%;
  animation: FallsDown 1.12s ease-in-out 0.8s 5;
}
.starFalls16 path {
  fill: rgb(195, 163, 166);
}

.starFalls17 {
  position: absolute;
  top: -5%;
  left: 27%;
  animation: FallsDown 1.19s ease-in-out 0.1s 5;
}
.starFalls17 path {
  fill: rgb(216, 226, 186);
}

.starFalls18 {
  position: absolute;
  top: -5%;
  left: 64%;
  animation: FallsDown 1.26s ease-in-out 0.4s 5;
}
.starFalls18 path {
  fill: rgb(226, 195, 171);
}

.starFalls19 {
  position: absolute;
  top: -5%;
  left: 1%;
  animation: FallsDown 1.33s ease-in-out 0.7s 5;
}
.starFalls19 path {
  fill: rgb(153, 163, 212);
}

.starFalls20 {
  position: absolute;
  top: -5%;
  left: 38%;
  animation: FallsDown 1.4s ease-in-out 0s 5;
}
.starFalls20 path {
  fill: rgb(223, 193, 199);
}

.starFalls21 {
  position: absolute;
  top: -5%;
  left: 75%;
  animation: FallsDown 1.47s ease-in-out 0.3s 5;
}
.starFalls21 path {
  fill: rgb(227, 225, 157);
}

.starFalls22 {
  position: absolute;
  top: -5%;
  left: 12%;
  animation: FallsDown 1.54s ease-in-out 0.6s 5;
}
.starFalls22 path {
  fill: rgb(192, 222, 217);
}

.starFalls23 {
  position: absolute;
  top: -5%;
  left: 49%;
  animation: FallsDown 1.61s ease-in-out 0.9s 5;
}
.starFalls23 path {
  fill: rgb(216, 180, 237);
}

.starFalls24 {
  position: absolute;
  top: -5%;
  left: 86%;
  animation: FallsDown 1.68s ease-in-out 0.2s 5;
}
.starFalls24 path {
  fill: rgb(206, 198, 203);
}

.starFalls25 {
  position: absolute;
  top: -5%;
  left: 23%;
  animation: FallsDown 1.75s ease-in-out 0.5s 5;
}
.starFalls25 path {
  fill: rgb(184, 168, 226);
}

.starFalls26 {
  position: absolute;
  top: -5%;
  left: 60%;
  animation: FallsDown 1.82s ease-in-out 0.8s 5;
}
.starFalls26 path {
  fill: rgb(167, 188, 153);
}

.starFalls27 {
  position: absolute;
  top: -5%;
  left: 97%;
  animation: FallsDown 1.89s ease-in-out 0.1s 5;
}
.starFalls27 path {
  fill: rgb(175, 170, 158);
}

.starFalls28 {
  position: absolute;
  top: -5%;
  left: 34%;
  animation: FallsDown 1.96s ease-in-out 0.4s 5;
}
.starFalls28 path {
  fill: rgb(173, 145, 142);
}

.starFalls29 {
  position: absolute;
  top: -5%;
  left: 71%;
  animation: FallsDown 2.03s ease-in-out 0.7s 5;
}
.starFalls29 path {
  fill: rgb(190, 170, 134);
}

.starFalls30 {
  position: absolute;
  top: -5%;
  left: 8%;
  animation: FallsDown 2.1s ease-in-out 0s 5;
}
.starFalls30 path {
  fill: rgb(160, 208, 196);
}

.starFalls31 {
  position: absolute;
  top: -5%;
  left: 45%;
  animation: FallsDown 2.17s ease-in-out 0.3s 5;
}
.starFalls31 path {
  fill: rgb(230, 178, 172);
}

.starFalls32 {
  position: absolute;
  top: -5%;
  left: 82%;
  animation: FallsDown 2.24s ease-in-out 0.6s 5;
}
.starFalls32 path {
  fill: rgb(243, 165, 209);
}

.starFalls33 {
  position: absolute;
  top: -5%;
  left: 19%;
  animation: FallsDown 2.31s ease-in-out 0.9s 5;
}
.starFalls33 path {
  fill: rgb(186, 206, 131);
}

.starFalls34 {
  position: absolute;
  top: -5%;
  left: 56%;
  animation: FallsDown 2.38s ease-in-out 0.2s 5;
}
.starFalls34 path {
  fill: rgb(181, 139, 190);
}

.starFalls35 {
  position: absolute;
  top: -5%;
  left: 93%;
  animation: FallsDown 2.45s ease-in-out 0.5s 5;
}
.starFalls35 path {
  fill: rgb(211, 139, 136);
}

.starFalls36 {
  position: absolute;
  top: -5%;
  left: 30%;
  animation: FallsDown 2.52s ease-in-out 0.8s 5;
}
.starFalls36 path {
  fill: rgb(219, 215, 231);
}

.starFalls37 {
  position: absolute;
  top: -5%;
  left: 67%;
  animation: FallsDown 2.59s ease-in-out 0.1s 5;
}
.starFalls37 path {
  fill: rgb(211, 147, 136);
}

.starFalls38 {
  position: absolute;
  top: -5%;
  left: 4%;
  animation: FallsDown 2.66s ease-in-out 0.4s 5;
}
.starFalls38 path {
  fill: rgb(193, 127, 219);
}

.starFalls39 {
  position: absolute;
  top: -5%;
  left: 41%;
  animation: FallsDown 2.73s ease-in-out 0.7s 5;
}
.starFalls39 path {
  fill: rgb(204, 159, 198);
}

.starFalls40 {
  position: absolute;
  top: -5%;
  left: 78%;
  animation: FallsDown 2.8s ease-in-out 0s 5;
}
.starFalls40 path {
  fill: rgb(226, 184, 137);
}

.starFalls41 {
  position: absolute;
  top: -5%;
  left: 15%;
  animation: FallsDown 2.87s ease-in-out 0.3s 5;
}
.starFalls41 path {
  fill: rgb(205, 143, 212);
}

.starFalls42 {
  position: absolute;
  top: -5%;
  left: 52%;
  animation: FallsDown 2.94s ease-in-out 0.6s 5;
}
.starFalls42 path {
  fill: rgb(153, 211, 209);
}

.starFalls43 {
  position: absolute;
  top: -5%;
  left: 89%;
  animation: FallsDown 3.01s ease-in-out 0.9s 5;
}
.starFalls43 path {
  fill: rgb(158, 168, 219);
}

.starFalls44 {
  position: absolute;
  top: -5%;
  left: 26%;
  animation: FallsDown 3.08s ease-in-out 0.2s 5;
}
.starFalls44 path {
  fill: rgb(160, 124, 213);
}

.starFalls45 {
  position: absolute;
  top: -5%;
  left: 63%;
  animation: FallsDown 3.15s ease-in-out 0.5s 5;
}
.starFalls45 path {
  fill: rgb(175, 184, 195);
}

.starFalls46 {
  position: absolute;
  top: -5%;
  left: 0%;
  animation: FallsDown 3.22s ease-in-out 0.8s 5;
}
.starFalls46 path {
  fill: rgb(222, 145, 198);
}

.starFalls47 {
  position: absolute;
  top: -5%;
  left: 37%;
  animation: FallsDown 3.29s ease-in-out 0.1s 5;
}
.starFalls47 path {
  fill: rgb(228, 196, 143);
}

.starFalls48 {
  position: absolute;
  top: -5%;
  left: 74%;
  animation: FallsDown 3.36s ease-in-out 0.4s 5;
}
.starFalls48 path {
  fill: rgb(226, 212, 224);
}

.starFalls49 {
  position: absolute;
  top: -5%;
  left: 11%;
  animation: FallsDown 3.43s ease-in-out 0.7s 5;
}
.starFalls49 path {
  fill: rgb(204, 200, 142);
}

.starFalls50 {
  position: absolute;
  top: -5%;
  left: 48%;
  animation: FallsDown 3.5s ease-in-out 0s 5;
}
.starFalls50 path {
  fill: rgb(176, 122, 222);
}

.starFalls51 {
  position: absolute;
  top: -5%;
  left: 85%;
  animation: FallsDown 3.57s ease-in-out 0.3s 5;
}
.starFalls51 path {
  fill: rgb(216, 210, 231);
}

.starFalls52 {
  position: absolute;
  top: -5%;
  left: 22%;
  animation: FallsDown 3.64s ease-in-out 0.6s 5;
}
.starFalls52 path {
  fill: rgb(170, 145, 233);
}

.starFalls53 {
  position: absolute;
  top: -5%;
  left: 59%;
  animation: FallsDown 3.71s ease-in-out 0.9s 5;
}
.starFalls53 path {
  fill: rgb(191, 232, 178);
}

.starFalls54 {
  position: absolute;
  top: -5%;
  left: 96%;
  animation: FallsDown 3.78s ease-in-out 0.2s 5;
}
.starFalls54 path {
  fill: rgb(172, 123, 229);
}

.starFalls55 {
  position: absolute;
  top: -5%;
  left: 33%;
  animation: FallsDown 3.85s ease-in-out 0.5s 5;
}
.starFalls55 path {
  fill: rgb(211, 128, 199);
}

.starFalls56 {
  position: absolute;
  top: -5%;
  left: 70%;
  animation: FallsDown 3.92s ease-in-out 0.8s 5;
}
.starFalls56 path {
  fill: rgb(185, 161, 131);
}

.starFalls57 {
  position: absolute;
  top: -5%;
  left: 7%;
  animation: FallsDown 3.99s ease-in-out 0.1s 5;
}
.starFalls57 path {
  fill: rgb(244, 145, 146);
}

.starFalls58 {
  position: absolute;
  top: -5%;
  left: 44%;
  animation: FallsDown 4.06s ease-in-out 0.4s 5;
}
.starFalls58 path {
  fill: rgb(209, 172, 143);
}

.starFalls59 {
  position: absolute;
  top: -5%;
  left: 81%;
  animation: FallsDown 4.13s ease-in-out 0.7s 5;
}
.starFalls59 path {
  fill: rgb(205, 149, 224);
}

.starFalls60 {
  position: absolute;
  top: -5%;
  left: 18%;
  animation: FallsDown 4.2s ease-in-out 0s 5;
}
.starFalls60 path {
  fill: rgb(154, 234, 155);
}

.starFalls61 {
  position: absolute;
  top: -5%;
  left: 55%;
  animation: FallsDown 4.27s ease-in-out 0.3s 5;
}
.starFalls61 path {
  fill: rgb(171, 161, 243);
}

.starFalls62 {
  position: absolute;
  top: -5%;
  left: 92%;
  animation: FallsDown 4.34s ease-in-out 0.6s 5;
}
.starFalls62 path {
  fill: rgb(188, 158, 162);
}

.starFalls63 {
  position: absolute;
  top: -5%;
  left: 29%;
  animation: FallsDown 4.41s ease-in-out 0.9s 5;
}
.starFalls63 path {
  fill: rgb(227, 222, 156);
}

.starFalls64 {
  position: absolute;
  top: -5%;
  left: 66%;
  animation: FallsDown 4.48s ease-in-out 0.2s 5;
}
.starFalls64 path {
  fill: rgb(175, 187, 133);
}

.starFalls65 {
  position: absolute;
  top: -5%;
  left: 3%;
  animation: FallsDown 4.55s ease-in-out 0.5s 5;
}
.starFalls65 path {
  fill: rgb(178, 155, 220);
}

.starFalls66 {
  position: absolute;
  top: -5%;
  left: 40%;
  animation: FallsDown 4.62s ease-in-out 0.8s 5;
}
.starFalls66 path {
  fill: rgb(156, 172, 195);
}

.starFalls67 {
  position: absolute;
  top: -5%;
  left: 77%;
  animation: FallsDown 4.69s ease-in-out 0.1s 5;
}
.starFalls67 path {
  fill: rgb(169, 135, 188);
}

.starFalls68 {
  position: absolute;
  top: -5%;
  left: 14%;
  animation: FallsDown 4.76s ease-in-out 0.4s 5;
}
.starFalls68 path {
  fill: rgb(228, 176, 139);
}

.starFalls69 {
  position: absolute;
  top: -5%;
  left: 51%;
  animation: FallsDown 4.83s ease-in-out 0.7s 5;
}
.starFalls69 path {
  fill: rgb(235, 124, 204);
}

.starFalls70 {
  position: absolute;
  top: -5%;
  left: 88%;
  animation: FallsDown 4.9s ease-in-out 0s 5;
}
.starFalls70 path {
  fill: rgb(215, 134, 208);
}

.starFalls71 {
  position: absolute;
  top: -5%;
  left: 25%;
  animation: FallsDown 4.97s ease-in-out 0.3s 5;
}
.starFalls71 path {
  fill: rgb(207, 166, 232);
}

.starFalls72 {
  position: absolute;
  top: -5%;
  left: 62%;
  animation: FallsDown 5.04s ease-in-out 0.6s 5;
}
.starFalls72 path {
  fill: rgb(224, 142, 223);
}

.starFalls73 {
  position: absolute;
  top: -5%;
  left: -1%;
  animation: FallsDown 5.11s ease-in-out 0.9s 5;
}
.starFalls73 path {
  fill: rgb(197, 160, 198);
}

.starFalls74 {
  position: absolute;
  top: -5%;
  left: 36%;
  animation: FallsDown 5.18s ease-in-out 0.2s 5;
}
.starFalls74 path {
  fill: rgb(163, 179, 231);
}

.starFalls75 {
  position: absolute;
  top: -5%;
  left: 73%;
  animation: FallsDown 5.25s ease-in-out 0.5s 5;
}
.starFalls75 path {
  fill: rgb(212, 220, 195);
}

.starFalls76 {
  position: absolute;
  top: -5%;
  left: 10%;
  animation: FallsDown 5.32s ease-in-out 0.8s 5;
}
.starFalls76 path {
  fill: rgb(236, 175, 221);
}

.starFalls77 {
  position: absolute;
  top: -5%;
  left: 47%;
  animation: FallsDown 5.39s ease-in-out 0.1s 5;
}
.starFalls77 path {
  fill: rgb(215, 162, 232);
}

.starFalls78 {
  position: absolute;
  top: -5%;
  left: 84%;
  animation: FallsDown 5.46s ease-in-out 0.4s 5;
}
.starFalls78 path {
  fill: rgb(211, 194, 175);
}

.starFalls79 {
  position: absolute;
  top: -5%;
  left: 21%;
  animation: FallsDown 5.53s ease-in-out 0.7s 5;
}
.starFalls79 path {
  fill: rgb(239, 224, 138);
}

.starFalls80 {
  position: absolute;
  top: -5%;
  left: 58%;
  animation: FallsDown 5.6s ease-in-out 0s 5;
}
.starFalls80 path {
  fill: rgb(186, 143, 168);
}

.starFalls81 {
  position: absolute;
  top: -5%;
  left: 95%;
  animation: FallsDown 5.67s ease-in-out 0.3s 5;
}
.starFalls81 path {
  fill: rgb(153, 122, 202);
}

.starFalls82 {
  position: absolute;
  top: -5%;
  left: 32%;
  animation: FallsDown 5.74s ease-in-out 0.6s 5;
}
.starFalls82 path {
  fill: rgb(234, 225, 235);
}

.starFalls83 {
  position: absolute;
  top: -5%;
  left: 69%;
  animation: FallsDown 5.81s ease-in-out 0.9s 5;
}
.starFalls83 path {
  fill: rgb(218, 127, 238);
}

.starFalls84 {
  position: absolute;
  top: -5%;
  left: 6%;
  animation: FallsDown 5.88s ease-in-out 0.2s 5;
}
.starFalls84 path {
  fill: rgb(221, 158, 198);
}

.starFalls85 {
  position: absolute;
  top: -5%;
  left: 43%;
  animation: FallsDown 5.95s ease-in-out 0.5s 5;
}
.starFalls85 path {
  fill: rgb(239, 191, 134);
}

.starFalls86 {
  position: absolute;
  top: -5%;
  left: 80%;
  animation: FallsDown 6.02s ease-in-out 0.8s 5;
}
.starFalls86 path {
  fill: rgb(182, 137, 234);
}

.starFalls87 {
  position: absolute;
  top: -5%;
  left: 17%;
  animation: FallsDown 6.09s ease-in-out 0.1s 5;
}
.starFalls87 path {
  fill: rgb(150, 162, 198);
}

.starFalls88 {
  position: absolute;
  top: -5%;
  left: 54%;
  animation: FallsDown 6.16s ease-in-out 0.4s 5;
}
.starFalls88 path {
  fill: rgb(155, 174, 175);
}

.starFalls89 {
  position: absolute;
  top: -5%;
  left: 91%;
  animation: FallsDown 6.23s ease-in-out 0.7s 5;
}
.starFalls89 path {
  fill: rgb(178, 190, 143);
}

.starFalls90 {
  position: absolute;
  top: -5%;
  left: 28%;
  animation: FallsDown 6.3s ease-in-out 0s 5;
}
.starFalls90 path {
  fill: rgb(164, 196, 185);
}

.starFalls91 {
  position: absolute;
  top: -5%;
  left: 65%;
  animation: FallsDown 6.37s ease-in-out 0.3s 5;
}
.starFalls91 path {
  fill: rgb(205, 223, 215);
}

.starFalls92 {
  position: absolute;
  top: -5%;
  left: 2%;
  animation: FallsDown 6.44s ease-in-out 0.6s 5;
}
.starFalls92 path {
  fill: rgb(170, 121, 185);
}

.starFalls93 {
  position: absolute;
  top: -5%;
  left: 39%;
  animation: FallsDown 6.51s ease-in-out 0.9s 5;
}
.starFalls93 path {
  fill: rgb(194, 182, 180);
}

.starFalls94 {
  position: absolute;
  top: -5%;
  left: 76%;
  animation: FallsDown 6.58s ease-in-out 0.2s 5;
}
.starFalls94 path {
  fill: rgb(233, 148, 190);
}

.starFalls95 {
  position: absolute;
  top: -5%;
  left: 13%;
  animation: FallsDown 6.65s ease-in-out 0.5s 5;
}
.starFalls95 path {
  fill: rgb(206, 125, 188);
}

.starFalls96 {
  position: absolute;
  top: -5%;
  left: 50%;
  animation: FallsDown 6.72s ease-in-out 0.8s 5;
}
.starFalls96 path {
  fill: rgb(184, 176, 185);
}

.starFalls97 {
  position: absolute;
  top: -5%;
  left: 87%;
  animation: FallsDown 6.79s ease-in-out 0.1s 5;
}
.starFalls97 path {
  fill: rgb(214, 215, 133);
}

.starFalls98 {
  position: absolute;
  top: -5%;
  left: 24%;
  animation: FallsDown 6.86s ease-in-out 0.4s 5;
}
.starFalls98 path {
  fill: rgb(150, 215, 203);
}

.starFalls99 {
  position: absolute;
  top: -5%;
  left: 61%;
  animation: FallsDown 6.93s ease-in-out 0.7s 5;
}
.starFalls99 path {
  fill: rgb(226, 137, 143);
}

@keyframes FallsDown {
  0% {
    top: -5%;
  }
  85% {
    opacity: 1;
  }
  100% {
    top: 95%;
    opacity: 0;
  }
}
.birdORG .wing {
  animation: wingsMove 3s ease-in-out 0s infinite;
}
.birdORG .mouth {
  animation: mouthMove 2s ease-in-out 0s infinite;
}

.birdGR .wing {
  animation: wingsMove2 2s ease-in-out 0s infinite;
}
.birdGR .eyes {
  animation: eyesMove 4s ease-in-out 0s infinite;
}

@keyframes wingsMove {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(5deg) translate(3px);
  }
  80% {
    transform: rotate(-5deg) translate(1px);
  }
  100% {
    transform: rotate(0deg) translate(0px);
  }
}
@keyframes wingsMove2 {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-2deg) translate(-1.5px);
  }
  65% {
    transform: rotate(-5deg) translate(-3px);
  }
  80% {
    transform: rotate(-1deg) translate(-2px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes mouthMove {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(2deg) translateX(-0.5px);
  }
  80% {
    transform: rotate(-3deg) translateX(1px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes eyesMove {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.mobileBackground {
  width: 100%;
  height: 100vh;
  background-color: #fbf0d1;
  padding: 20px 5px 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.allPage {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.roomList {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  top: 0;
  left: 0;
}

.roomList::-webkit-scrollbar {
  width: 3px;
}

.signInBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}

.hintText {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--bright_Y);
  text-align: center;
  z-index: 50;
  font-size: 18px;
  font-weight: 600;
  font-family: "Play", sans-serif;
  color: #01000E;
}

.drawingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room_card {
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  justify-content: start;
  padding: 6px 12px;
  align-items: center;
  gap: 25px;
}
.room_card.yl {
  background: var(--bright_Y);
  color: #000000;
}
.room_card.org {
  background: var(--light_Or);
  color: #000000;
}
.room_card.gr {
  background: var(--light_Gr);
  color: #fff;
}
.room_card:hover {
  opacity: 0.8;
}
.room_card.noHover:hover {
  opacity: 1 !important;
}

body {
  margin: 0%;
  overflow-x: hidden;
}

.myContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.title-Max {
  color: #01000e;
  /* Tite-Max */
  font-family: "Play", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.title-L {
  color: var(--dark-Gr, #1f4b52);
  /* Title */
  font-family: "Play", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.title-M {
  color: var(--dark-Gr, #1f4b52);
  /* Title */
  font-family: "Play", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.title-S {
  color: var(--dark-Gr, #1f4b52);
  /* Title */
  font-family: "Play", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.textAlign_center {
  text-align: center;
}

.background {
  width: 100%;
  height: 90%;
  background-color: var(--color_bg);
  padding: 5px 5px 20px 5px;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.icon_btn {
  background: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  border: none;
}

.icon_btn:hover svg path {
  fill-opacity: 0.9;
}

.text_btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  letter-spacing: 1.5px;
  font-size: 24px;
  transition: all 0.3s ease;
  min-width: 250px;
}
.text_btn:active {
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.text_btn.org {
  color: var(--white);
  background: var(--light-Or, #ff8d66);
  box-shadow: #fb571f 0px 10px 0px 0px;
}
.text_btn.org:hover {
  box-shadow: #fb571f 0px 7px 0px 0px;
}

.text_btn.yl {
  color: var(--dark_Br);
  background: #ffd36c;
  box-shadow: #eea701 0px 10px 0px 0px;
}
.text_btn.yl:hover {
  box-shadow: #eea701 0px 7px 0px 0px;
}

.text_btn.gr {
  color: var(--white);
  background: #488089;
  box-shadow: var(--dark_Gr) 0px 10px 0px 0px;
}
.text_btn.gr:hover {
  box-shadow: var(--dark_Gr) 0px 7px 0px 0px;
}

.text_btn:active {
  box-shadow: none;
}

.game_input {
  font-family: "Play", sans-serif;
  width: 280px;
  height: 20px;
  padding: 20px;
  gap: 10px;
  border: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  border-radius: 15px;
}

.input_OG {
  background: var(--light-Or, #ff8d66);
  box-shadow: 0px 4px 4px 0px rgba(1, 0, 14, 0.25) inset;
  color: var(--white);
}
.input_OG::-moz-placeholder {
  color: var(--white);
  font-weight: 400;
}
.input_OG::placeholder {
  color: var(--white);
  font-weight: 400;
}

.input_YL {
  background: var(--bright-Y, #f7e2a8);
  box-shadow: 0px 4px 4px 0px rgba(1, 0, 14, 0.25) inset;
  color: var(--dark_Br);
}

.input_GR {
  background: var(--light-Gr, #5dadaa);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: var(--white);
}

.game_input:focus-visible {
  outline: 2px solid #ff8d66;
}

.answerCard {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 235px;
  height: 144px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--white);
}

.answrePic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 106px;
  flex-shrink: 0;
  align-self: stretch;
  width: 100%;
  background: var(--dark-Gr, #1f4b52);
}

.playerName {
  font-family: "Play", sans-serif;
  color: var(--dark-Br, #804600);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.selecterCircle {
  display: none;
  stroke-width: 3px;
  stroke: #fb571f;
  position: absolute;
  top: 20;
  left: 20;
}

.selected {
  display: block;
}

.titleBar {
  display: flex;
  width: 427px;
  min-height: 73px;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-width: 4px;
  border-style: solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.titleInner {
  display: flex;
  padding: 0px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  font-family: "Play", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.titleBar.title_YL {
  border-color: var(--dark_Br);
}

.title_YL .titleInner {
  background: var(--bright-Y, #f7e2a8);
}

.titleBar.title_GR {
  border-color: var(--dark_Gr);
}

.title_GR .titleInner {
  background: var(--dark-Gr, #1f4b52);
  color: var(--white);
}

.medals {
  position: relative;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
}

.medals .winner {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
  font-weight: 700;
  font-family: "Play", sans-serif;
  color: var(--white);
  white-space: nowrap;
}

.medals.small .winner {
  top: 65%;
  left: 48%;
}

.medals.gold.small .winner {
  top: 85%;
  left: 48%;
}

.medals.gold .winner {
  text-shadow: 0.3rem 0.1rem var(--dark_Br);
}

.medals.gold {
  transform: scale(1.2);
}

.medals.small {
  transform: scale(0.4) !important;
  height: 200px !important;
}

.backBtn {
  position: absolute;
  top: 50px;
  left: 1vw;
  transform: rotateY(180deg);
  z-index: 2000;
}

.endGameBtn {
  position: absolute;
  top: 2vh;
  right: 25px;
}

.Game_QRcode {
  aspect-ratio: 1/1;
}

.card-Editing {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%);
}

.card-Editing.done {
  top: 25%;
  left: 50%;
}

/* scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 70, 0, 0.4196078431);
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: rgba(128, 70, 0, 0.7333333333);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark_Br);
}

.name_card {
  border-radius: 15px;
  background: var(--bright-Y, #f7e2a8);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 57px;
  font-size: 20px;
  font-weight: 500;
  display: inline-flex;
  justify-content: start;
  padding: 6px 12px;
  align-items: center;
  gap: 25px;
}

.playerRankBtn {
  border-radius: 20px 0px 0px 20px;
  background: #f19b7e;
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 10vh;
  cursor: pointer;
  transition: 0.5s;
}
.playerRankBtn:hover {
  background: #fbb299;
}
.playerRankBtn.hidden {
  right: -200px;
}

.playerRankBox {
  max-width: 30%;
  min-width: 10%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px 10px;
  border-radius: 20px 0px 0px 20px;
  background: #f19b7e;
  z-index: 200;
  position: absolute;
  right: 0px;
  bottom: 5%;
  transition: 0.5s;
}
.playerRankBox.hidden {
  right: -35%;
}

@media screen and (max-width: 765px) {
  .icon_btn > svg {
    transform: scale(0.8);
  }
  .Game_QRcode {
    width: 150px;
  }
  .backBtn {
    bottom: 10%;
    top: auto;
  }
  .text_btn {
    padding: 6px 10px;
    letter-spacing: 1px;
    font-size: 14px;
    min-width: 150px;
  }
}
@media screen and (max-width: 960px) {
  .text_btn {
    padding: 6px 10px;
    letter-spacing: 1px;
    font-size: 14px;
    min-width: 150px;
  }
}
.loading_Background {
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 90vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 300px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--light_Or);
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}
.circle.white {
  background-color: var(--white);
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: 75%;
  animation-delay: 0.3s;
}

.shadow {
  width: 30px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.GameModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(66, 36, 0, 0.3921568627);
  overflow: hidden;
  z-index: 3500;
}

@keyframes modalMove {
  0% {
    top: 100%;
  }
  100% {
    top: 30%;
  }
}
.modalInnerSpace {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bright_Y);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  transition: 0.2s;
  animation: modalMove 0.3s ease-in-out;
}

.GameModalTop {
  display: flex;
  justify-content: space-between;
}

.GameModalInnerNode {
  flex-grow: 1;
  min-height: 100px;
}

.GameModalBtn_cancle {
  position: relative;
  color: var(--white) !important;
  background-color: var(--dark_Gr) !important;
}

.GameModalBtn_confirm {
  background-color: var(--light_Y) !important;
  color: var(--dark_Gr) !important;
}

.questionBox {
  border-radius: 15px;
  background: var(--bright_Y);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Play", sans-serif;
  display: inline-flex;
  justify-content: start;
  padding: 6px 12px;
  align-items: center;
  gap: 20px;
}

.qustionBox_trashCan {
  cursor: pointer;
}
.qustionBox_trashCan .qustionBox_trashCanTop {
  transition: 0.2s;
}
.qustionBox_trashCan:hover .qustionBox_trashCanTop {
  transform: rotate(-22deg) translateX(-5px);
}

.qustionBox_edit {
  cursor: pointer;
}
.qustionBox_edit .qustionBox_editPen {
  transition: 0.2s;
}
.qustionBox_edit:hover .qustionBox_editPen {
  transform: rotate(18deg) translateX(-5px);
}

.gameTimerContainer {
  margin: auto;
}

.path--background {
  fill: var(--color_bg);
}

.path--foreground {
  fill: var(--light_Or);
}

.label {
  font-weight: 900;
  text-anchor: middle;
  fill: var(--light_Or);
}
.label.pulse {
  fill: rgb(255, 74, 74) !important;
  animation: pulseLabel 1s ease-in-out 0s infinite;
}
.label.timesUp {
  fill: rgb(255, 74, 74) !important;
  animation: timesUpLabel 0.3s ease-in-out 0s 5;
}

@keyframes pulseLabel {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.4;
  }
  100% {
    scale: 1;
  }
}
@keyframes timesUpLabel {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  20% {
    scale: 1.2;
    rotate: 15deg;
  }
  60% {
    scale: 1.2;
    rotate: -15deg;
  }
  100% {
    scale: 1;
    rotate: 0deg;
  }
}
:root {
  --white: #f7fef9;
  --dark_Y: #ffb401;
  --dark_Or: #fb571f;
  --light_Gr: #5dadaa;
  --dark_Gr: #1f4b52;
  --light_Or: #ff8d66;
  --dark_Br: #804600;
  --bright_Y: #f7e2a8;
  --light_Y: #f5c646;
  --color_bg: #f7e2a8;
}

body {
  font-family: "Play", sans-serif;
}/*# sourceMappingURL=gameCSS.css.map */