body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter Tight", sans-serif;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100vh;
}

.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.1s;
  visibility: visible;

  &:not([class*="active"]):not([class*="slide-item-leave"]):not(
      [class*="slide-item-enter"]
    ) {
    visibility: hidden;
  }

  &.active {
    z-index: 1;
  }

  &.slide-item-enter {
    z-index: 2;
    animation: slideInRight 0.6s ease-in-out;
  }

  &.slide-item-leave {
    z-index: 1;
    animation: slideOutLeft 0.6s ease-in-out;
  }
}

.viewBox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #region flex class*/
.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-inline-block {
  display: inline-block;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-start {
  justify-content: start;
}

.jc-end {
  justify-content: end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.ai-end {
  align-items: end;
}

/* #endregion */

.bg_light {
  background-color: var(--secondary);
}

/* #region flex class*/
/* 捲軸寬度及高度 */
::-webkit-scrollbar {
  width: 8px; /*右側捲軸寬度*/
  height: 8px; /*下方捲軸高度*/
}
/* 軌道背景底色 */
::-webkit-scrollbar-track {
  background: var(--secondary);
}

/* 滑桿顏色 */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 60px;
  transition: 0.8s;
}
/* 滑桿滑鼠滑入時的顏色 */
::-webkit-scrollbar-thumb:hover {
  background: var(--warning);
}
/* 捲軸兩側頂端的按鈕 */
::-webkit-scrollbar-button {
  display: none;
}
/* 捲軸兩側頂端的按鈕滑鼠滑入時的顏色 */
::-webkit-scrollbar-button:hover {
  background-color: var(--primary);
}
/* #endregion*/

.textContent {
  font-size: 20px;
  line-height: 100%;
}

.dash_bar {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: 50px;
  margin: 5px 0;
}

.hover_scaleY {
  transition: 0.3s;
  &:hover {
    transform: scaleY(1.03);
  }
}

.hover-point {
  &:hover {
    cursor: pointer;
  }
}

.mainBottomBar {
  min-width: 40%;
  min-height: 60px;
  border-radius: 15px;
  padding: 10px;
  color: var(--white);
  background-color: #384872;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(30px);
  opacity: 0;
  transition: 0.35s;
  visibility: hidden;
  box-sizing: border-box;
  box-shadow: rgba(45, 35, 66, 0.4) 0px 20px 8px,
    rgba(45, 35, 66, 0.3) 0px 20px 13px -3px, #d6d6e7 0px -10px 0 inset;

  &.active {
    box-shadow: rgba(45, 35, 66, 0.4) 0px 0px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 0px 0 inset;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
  }
}

.textButton {
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: 1px solid var(--white);
    transition: 0.3s;
  }
  &:hover {
    &::after {
      right: 0;
    }
  }
}

.canvas_outside_container {
  > div {
    margin: auto;
  }
}

.canvas-control-box {
  border: 3px solid var(--secondary);
  border-radius: 10px;
  height: fit-content;
  margin: auto 5px;
  padding: 15px;
}
